@{
    ViewData["Title"] = "Home Page";
}

<p>
    @ViewData["rnd"]
</p>

<i>
    @ViewBag.hash
</i>
<br></br>

<i>
   Date: @ViewData["dt"]
</i>
<br></br>

<i>
    Time: @ViewData["tm"]
</i>
<br></br>
<p>
    Users Count: @ViewData["UsersCount"]
</p>
<br></br>
<p>
    Users Name: 
    @foreach(var names in ViewBag.RealName)
    {
        @names
    }
</p>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
