@{
    var err = ViewData["err"] as String[];
}
<h1>
    Регистрация нового пользователя
</h1>

<form action = "/Home/RegUser" method= "post">
    Имя: <input type = "text"           name= "RealName"     value= ""/>
        @if(!String.IsNullOrEmpty(err?[1]))
        {
            @err[1]
            
        }
        <br/>
    Логин: <input type = "text"         name= "Login"       value= ""/>
            @if(!String.IsNullOrEmpty(err?[2])) 
        {
            @err[2]
        }
    <br/>
    Пароль: <input type = "password"    name= "Password1"    value= ""/>
        @if(!String.IsNullOrEmpty(err?[3]))
        {
            @err[3]
        }<br/>
    Пароль: <input type = "password"    name= "Password2"   value= ""/>
        @if(!String.IsNullOrEmpty(err?[4]))
        {
            @err[4]
        }
    <br/>
    E-mail: <input type = "email"       name= "Email"       value= ""/>
        @if(!String.IsNullOrEmpty(err?[5]))
        {
            @err[5]
        }
    <br/>
    <button>Зарегистрироваться</button>
</form>

@if (err != null)
{
    @foreach (String e in err)
    {
        <p>
            @e
        </p>
    }
}
